@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CloudIQ is specialized in implementing Cloud Computing Solutions to growing and established enterprises. We provide comprehensive Cloud Infrastructure and Application Migration Services to help organizations around the globe optimize their mission critical IT system and business processes.</p>
